/**
 * @file classname_test.cpp
 * @brief Unit testing for ClassName class.
 * 
 * @authors Marc Dinh, Stephan Fischer
 */


// ==================
//  General Includes
// ==================
//
#include <iostream>
#include <cstdlib> // EXIT_SUCCESS EXIT_FAILURE

#include "unittest.h"

// ==================
//  Project Includes
// ==================
//
#include "../src/classname.h"

class ClassNameTest : public UnitTest
{
};

int main (int argc, char *argv[])
{ 

  return EXIT_SUCCESS;
}

